body{
  background-color:lightgrey;
}

h1{
  color:blue;
  font-family:helvetica;
  background-color: white;
  border: 5px dotted purple;
  padding: 50px;
}

h3{
  color:purple;
  font-family:helvetica;
  background-color: white;
  border: 2px dotted blue;
}

p{
  color:black;
}

img{
  border: 2px solid black;
  width:25%;
  height:25%;
  margin-left: 100px
}
